<h1>Hi! Let's make a new Album</h1>

<% if @album.errors.any? %>
  <ul class="errors">
    <% @album.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @album do |f| %>
  <%= f.label :artist_id %>
  <%= f.collection_select(:artist_id, @artists, :id, :name) %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :label_code %>
  <%= f.text_field :label_code %>

  <%= f.submit %>
<% end %>
