<h1><%= @album.title %></h1>
<ul>
  <li>Released: <%= @album.released %></li>
  <li>Artist: <%= @album.artist.name %></li>
  <li>Label: <%= @album.label %></li>
  <li>Label Code: <%= @album.label_code %></li>
  <li>Format: <%= @album.format %></li>
  <li>Date Added: <%= @album.date_added %></li>
</ul>
